/* Hero */
.hero {
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;
}

.hero__main-image {
  width: 80%;
  margin-top: 5rem;
  justify-self: center;
}

.hero h1 {
  margin-bottom: 4rem;
}

.hero__text-below-title p:first-child {
  margin-bottom: 2rem;
}

.hero__link {
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .hero__main-image {
    width: 70%;
  }

  .hero__text-below-title p:first-child {
    padding: 0 7%;
  }
}

@media screen and (min-width: 800px) {
  .hero__main-image {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    max-width: 1453px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__text-below-title p:first-child {
    padding: initial;
  }

  .hero__main-image {
    align-self: center;
    margin-top: 0;
    justify-self: end;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1530px) {
  .hero__content {
    align-self: center;
  }
}

@media screen and (min-width: 1650px) {
  .hero__main-image {
    width: 40%;
  }
}

/* Benefits */
.benefits-section {
  text-align: center;
  padding: 3rem;
  margin-top: 10rem;
}

.benefits-section h2 {
  margin-bottom: 1rem;
}

.benefits__item {
  display: flex;
  flex-direction: column;
}

.benefits__img {
  width: 50%;
  align-self: center;
  order: 1;
  margin-top: 6rem;
  margin-bottom: 25rem;
}

@media screen and (min-width: 768px) {
  .benefits__img {
    width: 30%;
  }

  .benefits__item__content p {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1024px) {
  .benefits-section {
    max-width: 1078px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .benefits__img {
    width: 20%;
    order: initial;
    margin: initial;
    margin-right: 4rem;
  }

  .benefits__item__content p {
    padding: initial;
  }

  .benefits__item {
    flex-direction: row;
    margin: 10rem 0;
  }

  .benefits__item--right .benefits__img {
    order: 1;
    margin-left: 4rem;
    margin-right: initial;
  }
}
