/* Icons */
.icon {
  max-width: 13.1rem;
}

/* Profiles */
.profile {
  border-radius: 100%;
  width: 11.618rem;
}

.profile__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.2rem;
  height: 14.2rem;
  border-radius: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(249, 201, 180, 0.51),
    #f98958
  );
}

@media screen and (max-width: 250px) {
  .profile {
    width: 6rem;
  }

  .profile__background {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 100px) {
  .profile {
    width: 5rem;
  }

  .profile__background {
    width: 6rem;
    height: 6rem;
  }
}
