/* Hero */
.hero {
  text-align: center;
  padding: 1rem;
}

.hero h1 {
  padding-bottom: 2rem;
}

.hero__main-image {
  width: 100%;
  order: 1;
}

.hero__lower-text :first-child {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .hero__lower-text :first-child {
    padding: 0 15%;
  }

  .hero__main-image {
    width: 70%;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    max-width: 1331px;
    margin: 7.5rem auto;
    text-align: left;
    column-gap: 15rem;
  }

  .hero__content-text {
    margin-top: 5vw;
  }

  .hero__lower-text :first-child {
    padding: initial;
  }

  .hero__main-image {
    order: initial;
    width: 100%;
  }
}

/* Necessary section */
.necessary-section {
  padding: 2rem;
  text-align: center;
}

.necessary-section__item {
  display: flex;
  flex-direction: column;
  margin: 20rem 0;
}

.necessary-section__img {
  width: 50%;
  order: 1;
  margin-top: 5rem;
  align-self: center;
}

.necessary-section__text-content h2 {
  margin-bottom: 2rem;
}

.necessary-section__item--left {
  margin-top: 5rem;
}

.necessary-section__item--right {
  margin-bottom: 5rem;
}

.necessary-section__text-content__link {
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .necessary-section {
    max-width: 650px;
    margin: 0 auto;
  }

  .necessary-section__img {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .necessary-section {
    max-width: 802px;
    text-align: left;
    margin-bottom: 8.5rem;
  }

  .necessary-section__item {
    flex-direction: row;
    margin: 7.5rem 0;
  }

  .necessary-section__img {
    width: 18%;
    align-self: flex-start;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
  }

  .necessary-section__item--left .necessary-section__img {
    order: initial;
    margin-right: 2.5rem;
    margin-left: 0;
  }
}
