/* Hero */
.hero {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.hero__main-image {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4rem;
  transform: translate(25%, -50%);
}

.hero h1 {
  text-align: center;
}

.hero__item {
  text-align: center;
}

.hero__item {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.hero__item img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  transition: transform 0.3s;
}

.hero__item img:hover {
  transform: scale(1.1) rotate(10deg);
}

.hero__item--left img {
  transform: translateX(-80%);
  margin-top: 4rem;
}

.hero__item--left img:hover {
  transform: translateX(-80%) scale(1.1) rotate(10deg);
}

.hero__item--first {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.hero__link {
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.7rem;
}

.hero__link__arrow {
  display: inline-block;
  letter-spacing: -0.7rem;
  transition: transform 0.2s;
}

.hero__link:hover .hero__link__arrow {
  transform: translateX(0.5rem);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 600px;
  }

  .hero__item img {
    width: 25%;
  }

  .hero__main-image {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    max-width: 1800px;
    column-gap: 10rem;
    margin-top: 5rem;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero__main-image {
    transform: initial;
    width: 75%;
    align-self: center;
    margin-top: initial;
  }

  .hero__item {
    flex-direction: row;
    text-align: left;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
  }

  .hero__item img {
    margin-top: 0;
    margin-left: 2rem;
    transform: translateY(-20%);
  }

  .hero__item img:hover {
    transform: translateY(-20%) scale(1.1) rotate(10deg);
  }

  .hero__item--left img {
    order: -1;
    margin-top: 0;
    transform: translate(-50%, -20%);
    margin-left: 0;
    margin-right: 2rem;
  }

  .hero__item--left img:hover {
    transform: translate(-50%, -20%) scale(1.1) rotate(10deg);
  }

  .hero__item--first {
    margin-top: 10rem;
  }

  .hero__item--left {
    text-align: right;
  }
}

@media screen and (min-width: 1500px) {
  .hero h1 {
    font-size: 5rem;
  }
}

/* Features */
.features__waves-decoration {
  width: 100%;
  display: block;
  transform: translateY(1px);
}

.features {
  padding: 2rem;
  background: var(--color-primary);
}

.features__main-image {
  width: 70%;
  justify-self: center;
}

.features__item {
  text-align: center;
  margin: 10rem 0;
}

.features__item--second {
  margin-bottom: 5rem;
}

.features__item p {
  padding: 0 10%;
}

.features__item h2 {
  margin-bottom: 2rem;
}

.features__item--first {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .features {
    margin-top: -1%;
  }

  .features__waves-decoration {
    position: relative;
    z-index: -1;
  }

  .features__item {
    text-align: left;
  }

  .features__item h2 {
    padding: 0 10%;
  }

  .features__main-image {
    width: 90%;
    margin-top: -8%;
    align-self: center;
    justify-self: center;
  }
}

@media screen and (min-width: 1600px) {
  .features__main-image {
    width: 70%;
  }
}

/* Info section */
.info {
  max-width: 684px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.info__text-content {
  text-align: center;
}

.info__text-content p {
  padding: 0 7%;
}

.info__text-content h2 {
  margin-bottom: 2rem;
}

.info__main-image {
  width: 60%;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .info__text-content p {
    padding: initial;
  }

  .info__main-image {
    margin-top: 5rem;
  }
}
