/* Hero */
.hero {
  text-align: center;
  padding: 2rem;
}

.hero__flower {
  display: none;
}

.hero__main-image {
  width: 100%;
}

.hero__cta {
  color: var(--color-secondary);
  font-size: 2rem;
  padding-top: 1rem;
  font-weight: 700;
}

.hero__title {
  padding-bottom: 7rem;
}

.hero__item {
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .hero__main-image {
    width: 70%;
    justify-self: center;
  }

  .hero__item p {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    grid-template-columns: initial;
  }

  .hero__flower {
    display: block;
    width: 25%;
  }

  .hero__item p {
    padding: 0;
  }

  .hero__text-content__content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__lower-p {
    display: flex;
  }

  .hero h1 {
    text-align: center;
  }

  .hero__cta {
    text-align: center;
  }

  .hero__lower-p p {
    padding-left: 3rem;
    align-self: center;
  }

  .hero__text-content {
    padding: 5rem;
    padding-bottom: 0;
  }

  .hero__main-image {
    width: 70%;
    align-self: center;
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__flower {
    width: 20%;
  }

  .hero__main-image {
    margin-left: 5rem;
    width: 70%;
  }

  .hero__text-content {
    padding-bottom: 5rem;
  }

  .hero h1 {
    text-align: left;
  }

  .hero__cta {
    text-align: left;
  }

  .hero__text-content__content {
    margin-left: initial;
    margin-right: initial;
  }
}

/* About section */
.about-section {
  text-align: center;
  padding: 3rem;
}

.about-section__text p {
  margin-top: 1rem;
}

.about-section__img {
  width: 70%;
  align-self: center;
  order: 1;
  margin-top: 5rem;
}

.about-section__item {
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
}

@media screen and (min-width: 768px) {
  .about-section__img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .about-section {
    max-width: 1098px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .about-section__item {
    flex-direction: row;
    margin: 5rem 0;
  }

  .about-section__text p {
    margin-top: initial;
  }

  .about-section__img {
    width: 25%;
    order: initial;
    align-self: initial;
    margin-top: initial;
  }

  .about-section__text {
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .about-section__item--right .about-section__text {
    align-self: center;
    margin-left: initial;
    margin-right: 3rem;
  }

  .about-section__item--right .about-section__img {
    order: 1;
  }
}
