:root {
  /* Color Palette */
  --color-primary: #f9c9b4;
  --color-secondary: #e7652c;
  --color-primary-darker: #fa9164;
  --neutral: #000;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
