:root {
  /* Color Palette */
  --color-primary: #f9c9b4;
  --color-secondary: #e7652c;
  --color-primary-darker: #fa9164;
  --color-primary-lighter: #ff8957;
  --neutral: #000;
  --white: #fff;
}

::selection {
  background: var(--color-primary-lighter);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
