<section class="hero grid grid--1x2">
  <img
    src="images/necessary/meditation-bro.svg"
    alt="Uma imagem de um homem meditando e praticando yoga"
    class="hero__main-image"
  />
  <div class="hero__content-text">
    <h1>Oque é necessário?</h1>
    <div class="hero__lower-text">
      <p>
        Para praticar Yoga não é necessário de muito, basta apenas ter força de
        vontade e um tapete de Yoga, e, para ajudar nesse processo, você pode
        aproveitar e assinar a nossa plataforma por um preço bem justo! Nada
        muito fora dos limites.
      </p>
      <p class="hero__link">Clique Aqui para Saber Mais!</p>
    </div>
  </div>
</section>
