<section class="necessary-section">
  <div class="necessary-section__item necessary-section__item--left">
    <img
      src="images/necessary/studying-exam-svgrepo-com.svg"
      alt="Uma imagem de um pedaço de papel com um lápis ao lado para simbolizar o estudo e conhecimento prévio"
      class="necessary-section__img"
    />
    <div class="necessary-section__text-content">
      <h2>Preciso de conhecimento prévio?</h2>
      <p>
        Não! Para praticar Yoga não é nenhum conhecimento prévio. As únicas
        pessoas que precisam de conhecimento prévio são os instrutores e
        professores, e aqui na YogaLife, valorizamos muito isso, e por isso
        todos os profissionais daqui recebem seus devidos treinamentos para
        poderem ensinar com confiança os nossos praticantes.
      </p>
    </div>
  </div>
  <div class="necessary-section__item">
    <img
      src="images/necessary/teacher-svgrepo-com.svg"
      alt="Uma imagem de um professor apontando para uma lousa"
      class="necessary-section__img"
    />
    <div class="necessary-section__text-content">
      <h2>Oque mais preciso saber?</h2>
      <p>
        É importante saber que o Yoga é uma filosofia de vida, e que os nossos
        profissionais tem todo o conhecimento necessário para ensinar Yoga, como
        por exemplo os asanas e dhyanas, para saber mais sobre isso, clique
        aqui.
      </p>
    </div>
  </div>
</section>
