<footer class="footer">
  <div class="footer__logo" title="Vá para o topo">
    <a href="#" class="footer__anchor-link">
      <p>YogaLife</p>
      <img src="images/all/anchor.svg" alt="" class="anchor" />
    </a>
  </div>
  <div class="footer__item">
    <h3>Vantagens</h3>
    <ul class="list">
      <li id="footer__first-li">
        <a href="#advantages-section">Pequeno valor</a>
      </li>
      <li><a href="#advantages-section">Sessões ao vivo e gravadas</a></li>
      <li>
        <a href="#advantages-section">Um perfil para toda a família</a>
      </li>
    </ul>
  </div>
  <div class="footer__item">
    <h3>Oque você ganha ao assinar?</h3>
    <ul class="list">
      <li id="footer__first-li">
        <a href="#features-section">Sessões presenciais</a>
      </li>
      <li><a href="#features-section">De bem com o Mundo</a></li>
      <li><a href="#features-section">Assista onde quiser</a></li>
      <li><a href="#features-section">Meditação</a></li>
    </ul>
  </div>
  <div class="footer__item last-footer-item">
    <h3>Testemunhos</h3>
    <ul class="list">
      <li id="footer__first-li"><a href="#jenna">Jenna Anne</a></li>
      <li><a href="#joao">João Matheus</a></li>
      <li><a href="#stephane">Stephane Delgado</a></li>
    </ul>
  </div>
  <div class="contact-container">
    <a
      href=""
      class="btn btn--larger btn--secondary btn--color-white btn--bold"
    >
      contato
    </a>
    <div class="footer__email">
      <img src="images/all/email-svgrepo-com.svg" alt="" />
      <p>yogalife.inc@yoga.com</p>
    </div>
  </div>
  <div class="footer__copyright">
    <p>
      Copyright © <em class="coder">Gustavo Amaro</em> 2021, Icons by
      <a href="https://www.svgrepo.com/" class="icon-author">svgrepo.com</a>
    </p>
  </div>
</footer>
