<footer class="footer">
  <div class="footer__logo">
    <p>YogaLife</p>
  </div>
  <div class="footer__item">
    <h3>Vantagens</h3>
    <ul class="list">
      <li id="footer__first-li"><a href="">Pequeno valor</a></li>
      <li><a href="">Sessões ao vivo e gravadas</a></li>
      <li><a href="">Um perfil para toda a família</a></li>
    </ul>
  </div>
  <div class="footer__item">
    <h3>Oque você ganha ao assinar?</h3>
    <ul class="list">
      <li id="footer__first-li"><a href="">Sessões presenciais</a></li>
      <li><a href="">De bem com o Mundo</a></li>
      <li><a href="">Assista onde quiser</a></li>
      <li><a href="">Meditação</a></li>
    </ul>
  </div>
  <div class="footer__item last-footer-item">
    <h3>Testemunhos</h3>
    <ul class="list">
      <li id="footer__first-li"><a href="">Jorge Amélio</a></li>
      <li><a href="">João Matheus</a></li>
      <li><a href="">Matheo Leandro </a></li>
    </ul>
  </div>
  <div class="contact-container">
    <a class="btn btn--larger btn--secondary btn--color-white btn--bold">
      contato
    </a>
    <div class="footer__email">
      <img src="images/all/email-svgrepo-com.svg" alt="" />
      <p>yogalife.inc@yoga.com</p>
    </div>
  </div>
  <div class="footer__copyright">
    <p>
      Copyright © <em class="coder">Gustavo Amaro</em> 2021, Icons by
      <a href="https://www.svgrepo.com/" class="icon-author">svgrepo.com</a>
    </p>
  </div>
</footer>
