<header>
  <nav class="nav">
    <div class="nav__wrapper">
      <a href="index.html">
        <div class="nav__logo">
          <p>YogaLife</p>
        </div>
      </a>
      <span class="hamburger"></span>
    </div>
    <div class="collapsibles" id="menu">
      <div class="nav__container">
        <ul class="list nav__list">
          <li><a href="index.html">Home</a></li>
          <li><a href="origem.html">Origem</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="beneficios.html">Benefícios</a></li>
          <li><a href="">Prática</a></li>
          <li><a href="">Necessário</a></li>
          <li><a href="">Contato</a></li>
        </ul>
        <span class="nav--mobile__bar"></span>
        <div class="nav__social-media__container">
          <span class="social-media__background">
            <a href="https://www.facebook.com/" class="social-media__wrapper">
              <img
                src="images/all/facebook-svgrepo-com.svg"
                alt=""
                class="social-media--smaller"
              />
            </a>
          </span>
          <span class="social-media__background">
            <a href="https://br.linkedin.com/" class="social-media__wrapper">
              <img
                src="images/all/linkedin-big-logo-svgrepo-com.svg"
                alt=""
                class="social-media--smaller"
              />
            </a>
          </span>
          <span class="social-media__background">
            <a href="https://www.instagram.com/" class="social-media__wrapper">
              <img
                src="images/all/instagram-svgrepo-com.svg"
                alt=""
                class="social-media--smaller"
              />
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
