<section class="hero grid grid--1x2">
  <div class="hero__text-content">
    <h1>Quem pode praticar?</h1>
    <div class="hero__lower-text">
      <p>
        Absolutamente qualquer pessoa de qualquer idade, qualquer físico e
        qualquer condicionamento físico, pode práticar o Yoga, então, caso você
        queira assinar um plano, você pode compartilhar com até outras 5 pessoas
        da sua família!
      </p>
      <p class="hero__link">
        <a href="">Saiba Mais!</a>
      </p>
    </div>
  </div>
  <img
    src="images/practice/meditation-amico.svg"
    alt="Uma imagem de duas pessoas sentadas meditando e praticando yoga"
    class="hero__main-image"
  />
</section>
