<section class="practice-section">
  <div class="practice-section__item">
    <img
      src="images/practice/yoga-svgrepo-com.svg"
      alt="Uma imagem de alguém se esticando, simbolizando o yoga"
      class="item__image item__image--margin-right"
    />
    <div class="practice-section__item-text">
      <h2>Mas todo mundo pode?</h2>
      <p>
        O Yoga pode ser praticado por qualquer pessoa, basta ter vontade!
        Lembre-se dos benefícios do Yoga, e a vontade vem!
      </p>
    </div>
  </div>
  <div class="practice-section__item practice-section__item--list">
    <div class="item__list">
      <h2>Como praticar?</h2>
      <ul class="practice-section__checklist list">
        <li>Separe um local amplo e espaçoso.</li>
        <li>Comece com posturas mais fáceis.</li>
        <li>Utilize roupas confortáveis.</li>
        <li>Use um fundo musical para praticar Yoga.</li>
        <li>
          Procure por professores referência no Brasil. Você pode encontrá-los
          aqui na YogaLife!
        </li>
      </ul>
    </div>
    <img
      src="images/practice/checklist-svgrepo-com.svg"
      alt="Uma imagem de uma checklist, lista de tarefas"
      class="item__image"
    />
  </div>
</section>
