<section class="hero grid grid--1x2">
    <div class="hero__text-content">
      <h1>Quer nos contatar?</h1>
      <div class="hero__lower-text">
        <p>
          O contato entre empresa e cliente é a melhor forma de se resolver
          tudo, desde dúvidas, período de testes, reclamações... Nos contatar
          é uma das melhores formas de comunicação que nós temos com os nossos
          clientes.
        </p>
        <p class="hero__link">
          <a href="">Clique aqui para ir à área de contato.</a>
        </p>
      </div>
    </div>
    <img
      src="images/contact/yoga-practice-bro.svg"
      alt="Uma imagem de uma pessoa praticando yoga"
      class="hero__main-image"
    />
  </section>