<section class="message-section">
  <div class="message-section__content-text">
    <h2 class="message-section__title">Mandou a sua mensagem?</h2>
    <p class="message-section__lower-text">
      Nós ficamos muito felizes quando você nos manda uma mensagem, seja lá qual
      for o motivo, sempre que recebemos um contato, a nossa equipe os lê e os
      responde cuidadosamente, de forma a sempre agradar a mensagem do usuário.
    </p>
  </div>
  <img
    src="images/contact/lotus-yoga-svgrepo-com-(1).svg"
    alt="Uma imagem de uma flor para simbolizar a meditação e o yoga"
    class="message-section__main-image"
  />
</section>
