<section class="hero grid grid--1x2">
  <div class="hero__content">
    <h1>Quais são os benefícios do Yoga?</h1>
    <div class="hero__text-below-title">
      <p>
        O Yoga pode te fazer muito bem, pode confiar! E aqui na YogaLife você
        tem acesso a muito conteúdo de qualidade sobre Yoga, para você poder
        aproveitar todos os benefícios dessa prática maravilhosa. As oito partes
        que compõe o Yoga são: yamas (ética), niyama (conduta), asana (postura
        física), pranayama (respiração), pratyhara (abstração dos sentidos),
        dharana (concentração), dhyana (meditação) e samadhi (plenitude).
      </p>
      <p class="hero__link">
        <a href="">Ver Benefícios <em class="hero__link__arrow">-></em></a>
      </p>
    </div>
  </div>
  <img
    src="images/benefits/lotus-svgrepo-com-1.svg"
    alt="Uma imagem de uma flor para simbolizar a meditação e a calma"
    class="hero__main-image"
  />
</section>
