<section class="advantages grid grid--1x4">
  <div class="advantages__title">
    <h2>Vantagens</h2>
    <p>Sessões de <span class="orange-text">Yoga</span>.</p>
    <p>Sessões de <span class="orange-text">Paz</span>.</p>
  </div>
  <div class="card card--primary">
    <img
      src="images/homepage/meditation-svgrepo-com (1).svg"
      alt=""
      class="card__image icon--smaller"
    />
    <div class="card__text">
      <p>
        Por um pequeno valor mensal, você tem acesso à diversas sessões por mês!
      </p>
      <span class="card__line"></span>
    </div>
  </div>
  <div class="card card--primary">
    <img
      src="images/homepage/peace-svgrepo-com.svg"
      alt=""
      class="card__image icon--smaller"
    />
    <div class="card__text">
      <p>
        Sessões ao vivo, ou se você preferir, sessões gravadas com meditação
        guiada. Basta se logar, e está tudo pronto para você começar a sua
        sessão de relaxamento.
      </p>
      <span class="card__line"></span>
    </div>
  </div>
  <div class="card card--primary">
    <img
      src="images/homepage/profile-user-svgrepo-com.svg"
      alt=""
      class="card__image icon--smaller"
    />
    <div class="card__text">
      <p>
        Um perfil, para a sua família inteira. Sim! Sua família inteira pode
        aproveitar o YogaLife!
      </p>
      <span class="card__line"></span>
    </div>
  </div>
</section>
