<section class="features">
  <div class="features__container grid grid--2x2">
    <div class="media-object">
      <img
        src="images/homepage/store-svgrepo-com.svg"
        alt="Uma imagem de uma loja"
      />
      <div class="media-object__text">
        <h3>Sessões Presenciais</h3>
        <p>
          Quer sessões de Yoga presenciais? Sem problemas! Aqui na YogaLife
          basta se dirigir para o YogaCenter mais próximo da sua casa, e pronto,
          lá você será guiado por um profissional especializado em Yoga e em
          meditação guiada.
        </p>
      </div>
    </div>
    <div class="media-object">
      <img
        src="images/homepage/plant-svgrepo-com.svg"
        alt="Uma imagem de uma planta"
      />
      <div class="media-object__text">
        <h3>De bem com o mundo</h3>
        <p>
          Aqui na YogaLife nós apoiamos o meio ambiente, ao chegar nos nossos
          YogaCenter’s você encontrará dois ambientes para praticar, um ao ar
          livre e cheio de vegetação, ou dentro do Center, oque você preferir!
        </p>
      </div>
    </div>
    <div class="media-object">
      <img
        src="images/homepage/location-svgrepo-com.svg"
        alt="Uma imagem de um globo do mundo com um símbolo de localização"
      />
      <div class="media-object__text">
        <h3>Assista onde quiser. Quando quiser</h3>
        <p>
          As nossas sessões gravadas estão sempre disponíveis para você assistir
          e praticar Yoga! Onde você estiver, basta ter uma conexão com a
          Internet, e pronto. Temos um cátalogo enorme de sessões gravadas, são
          mais de 7500 sessões na nossa plataforma.
        </p>
      </div>
    </div>
    <div class="media-object">
      <img
        src="images/homepage/meditation-svgrepo-com.svg"
        alt="Uma imagem de uma flor de meditação, spa"
      />
      <div class="media-object__text">
        <h3>Meditação? Aqui tem também.</h3>
        <p>
          Aqui na YogaLife você não só tem acesso à muito conteúdo direcionado
          ao Yoga, como também tem conteúdo direcionado para a meditação,
          meditação guiada, para você relaxar a mente depois de uma relaxante
          sessão de Yoga.
        </p>
      </div>
    </div>
  </div>
</section>
