<section class="testimonials">
  <div class="testimonials__text-title">
    <h2>Oque as pessoas estão dizendo?</h2>
    <p>
      Não tem nada melhor do que ouvir a opinião de outras pessoas que assinaram
      o nosso pacote né?
    </p>
  </div>
  <div class="testimonials__content">
    <div class="testimonial-item">
      <span class="profile__background"
        ><img
          src="images/homepage/testimonials-jenna.jpg"
          alt=""
          class="profile"
      /></span>
      <div class="testimonials__text">
        <blockquote>
          “Essa plataforma me ajudou muito a relaxar, retirar o estresse do dia
          a dia, pois aqui, tenho uma fonte de contato com atividades
          relacionadas à saúde do corpo e da mente! Me faz muito bem.”
        </blockquote>
        <p>- Jenna Anne</p>
      </div>
    </div>
    <div class="testimonial-item">
      <span class="profile__background" id="right"
        ><img
          src="images/homepage/testimonials-joao.jpg"
          alt=""
          class="profile"
      /></span>
      <div class="testimonials__text">
        <blockquote>
          “A plataforma me fez conseguir ter acesso ao Yoga de uma forma
          constante e rotineira, e, o melhor de tudo, por uma mensalidade super
          justa, e que vale super apena visto os benefícios do Yoga e da
          plataforma.
        </blockquote>
        <p>- João Matheo</p>
      </div>
    </div>
    <div class="testimonial-item">
      <span class="profile__background"
        ><img
          src="images/homepage/testimonials-stephane.jpg"
          alt=""
          class="profile"
      /></span>
      <div class="testimonials__text">
        <blockquote>
          “Quando eu assinei o pacote, não sabia se estava fazendo a coisa
          certa. No segundo dia, já tinha percebido que foi sim a escolha
          correta. Na YogaLife tem tanto a aproveitar! Os YogaCenter’s, a
          plataforma, são muitas formas de praticar Yoga.
        </blockquote>
        <p>- Stephane Delgado</p>
      </div>
    </div>
  </div>
</section>
