<section class="features__wrapper">
  <img
    src="images/origem/background-wave.svg"
    alt=""
    class="features__waves-decoration"
  />
  <section class="features grid grid--1x2">
    <div class="text-content">
      <div class="features__item features__item--first">
        <h2>De onde veio?</h2>
        <p>
          O Yoga é uma prática tradicional de disciplina física originária na
          Índia, E essa palavra está associada com práticas meditativas. É por
          isso que aqui na nossa plataforma você encontra além de sessões de
          yoga, também sessões de meditação guiada, relizadas por um
          profissional da área da saúde física e mental, por que isso é sobre o
          Yoga não é mesmo? Faz bem para o corpo e para a mente!
        </p>
      </div>
      <div class="features__item features__item--second">
        <h2>Oque é?</h2>
        <p>
          O yoga não é só um tipo de meditação para o relaxamento físico e
          mental, ele é uma filosofia de vida. O yoga possuí diversos ramos como
          o raja-ioga, carma-ioga, jnana-ioga, bacti-ioga e hata-iogo. Aqui na
          YogaLife nós cobrimos cada um desses ramos do Yoga detalhadamente e
          com muito conteúdo para você aproveitar, para saber mais
        </p>
      </div>
    </div>
    <img
      src="images/origem/info-image.svg"
      alt="An image of someone meditating and practicing yoga"
      class="features__main-image"
    />
  </section>
</section>
