<section class="hero grid grid--1x2">
  <div class="hero__content">
    <h1>De onde veio esse tal de Yoga? E por que ele é tão bom assim?</h1>
    <div class="hero__item hero__item--first">
      <div class="hero__item__text">
        <p>
          Você sabia que o Yoga não é apenas bom para o seu corpo, como também
          para a sua mente?
        </p>
        <p class="hero__link">
          <a href="">Saiba Mais <em class="hero__link__arrow">-></em></a>
        </p>
      </div>
      <img
        src="images/origem/plant-decoration.svg"
        alt="Uma imagem de uma planta decorativa minimalista"
      />
    </div>
    <div class="hero__item hero__item--left">
      <div class="hero__item__text">
        <p>
          E além do mais, o Yoga não é tão difícil de se praticar assim quanto
          você pensa, na verdade é até mais fácil do que você imagina!
        </p>
        <p class="hero__link">
          <a href="">Saiba Mais <em class="hero__link__arrow">-></em></a>
        </p>
      </div>
      <img
        src="images/origem/idea-decoration.svg"
        alt="Uma imagem de uma lâmpada simbolizando ideias"
      />
    </div>
  </div>
  <img
    src="images/origem/hero-origin-image.png"
    alt="Uma imagem de uma mulher meditando com círculos decorativos"
    class="hero__main-image"
  />
</section>
