<section class="info grid">
  <div class="info__text-content">
    <h2>Oque significa?</h2>
    <p>
      Yoga significa controlar, unir, é um termo de origem sânscrita, uma língua
      que é presnete na Índia, em especial na região hinduísta. Yoga é um
      conceito filosófico, que trabalha corpo e mente através de disciplinas
      tradicionais de quem a pratica. Aqui na YogaLife, você encontrará aulas e
      sessões de Yoga exclusivas para a área da filosofia e da mente, para, além
      do corpo, você também poder refletir um pouco sobre a sua vida.
    </p>
  </div>
  <img
    src="images/origem/lotus-svgrepo-com.svg"
    alt="Uma imagem de um flor de lotus"
    class="info__main-image"
  />
</section>
