<section class="hero grid grid--1x2">
  <div class="hero__text-content">
    <div class="hero__title">
      <h1>Quer descobrir mais sobre nós e sobre as maravilhas do Yoga?</h1>
      <p class="hero__cta"><a href="">Clique Aqui!</a></p>
    </div>
    <div class="hero__text-content__content">
      <div class="hero__item hero__upper-p">
        <p>
          Aqui você descobrirá um pouco mais sobre a nossa empresa, como ela
          começou, a nossa missão, os nossos valores, a nossa visão, e também
          saberá um pouquinho mais sobre o Yoga! Uma coisa importantíssima para
          nós da YogaLife, é que nossos clientes nos conheçam, e esta página
          está aqui justamente para isso!
        </p>
      </div>
      <div class="hero__item hero__lower-p">
        <img
          src="images/about/lotus-yoga-svgrepo-com.svg"
          alt="Uma imagem de uma flor simbolizando o Yoga e a meditação"
          class="hero__flower"
        />
        <p>
          A proposta da nossa empresa, como você já deve ter percebido, é o
          Yoga, que tem como base e fundamento trabalhar o corpo e a mente,
          através de disciplinas tradicionais de quem o pratica. Tudo isso e
          muito mais você aprenderá na nossa plataforma, com professores
          profissionais na área
        </p>
      </div>
    </div>
  </div>
  <img
    src="images/about/mindfulness-bro.svg"
    alt="Uma imagem de uma mulher fazendo Yoga com árvores ao fundo"
    class="hero__main-image"
  />
</section>
